doctype html
html(lang='ru')
    head
        title Main
        include componets/head
    body
        .wrapper
            include componets/header
            main.main
                section.section#home
            include componets/footer
        include componets/scripts