@import "vars";

@media only screen and (max-height: 700px) {
  .pageTree {
    padding-top: 50px;
    &-bg1,&-bg2{
      bottom: -120px;
    }
    &-bg3{
      bottom: -170px;
    }
  }
  .pageTwo{
    &__helpInfo {
      margin-bottom: 25px;
    }
    &__boxList {
      .list-orange,.list-pin{
        min-height: 132px;
      }
    }
  }
  .home-page__text {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1800px) {}
@media only screen and (max-width: 1700px) {}
@media only screen and (max-width: 1500px) {}
@media only screen and (max-width: 1400px) {}
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 980px) {}
@media only screen and (max-width: 750px) {}
@media only screen and (max-width: 580px) {}
@media only screen and (max-width: 425px) {}
@media only screen and (max-width: 360px) {}
